﻿<html>
   <head>
      <title >Manulife App</title>
      <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
         asp-fallback-href="~/bootstrap.min.css"
         asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
      <style>
         .wrapper-login {	
         margin-top: 80px;
         margin-bottom: 80px;
         }
         .wrapper-stat {	
         padding: 50px 100px 50px 100px;
         }
         .list-group{
         padding: 0px 200px 50px 200px;
         }
         .search{
         padding: 0px 200px 10px 200px;
         }
         .form-signin {
         max-width: 380px;
         padding: 15px 35px 45px;
         margin: 0 auto;
         background-color: #fff;
         border: 1px solid rgba(0,0,0,0.1);  
         }
         .btn-login{
         margin-top: 10px;
         }
         [hidden] {
         display: none !important;
         }
      </style>
   </head>
   <body>
      <div id="app">Loading...</div>
      <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
         asp-fallback-src="~/jquery.min.js"
         asp-fallback-test="window.jQuery"
         crossorigin="anonymous"
         integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk"></script>
      <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
         asp-fallback-src="~/bootstrap.min.js"
         asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
         crossorigin="anonymous"
         integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"></script>
      <script>
         var ApiService = function ApiService(XMLHttpRequest) {
             this.XMLHttpRequest = XMLHttpRequest;
         };
         
         ApiService.prototype.getStats = function getStats(callback) {
             var token = sessionStorage.getItem("token");
             var request = new this.XMLHttpRequest();
             request.onload = function onLoad(e) {
                 callback(e.currentTarget);
             };
             request.open('GET', '/api/stats', true);
             request.setRequestHeader('Authorization', 'bearer ' + token);
             request.send();
         };
         
         ApiService.prototype.getStatsByDate = function getStatsByDate(args, callback) {
             var token = sessionStorage.getItem("token");
             var request = new this.XMLHttpRequest();
             request.onload = function onLoad(e) {
                 callback(e.currentTarget);
             };
             if (args) {
                 request.open('GET', '/api/stats?date='+args, true);
             }
             else {
                 request.open('GET', '/api/stats', true);
             }
             request.setRequestHeader('Authorization', 'bearer ' + token);
             request.send(args);
         };
         
         ApiService.prototype.login = function login(args, callback) {
             var request = new this.XMLHttpRequest();
             request.onload = function onLoad(e) {
                 callback(e.currentTarget);
             };
             request.open('POST', '/identity/token', true);
             request.setRequestHeader("Content-type", "application/json");
             request.send(JSON.stringify({ username: args }));
         };
         
         ApiService.prototype.logout = function logout(callback) {
             var token = sessionStorage.removeItem("token");
             callback();
         };
         
         ApiService.prototype.upload = function upload(file,callback) {
             console.log(file);
             var token = sessionStorage.getItem("token");
             var formData = new FormData();
             formData.append('file',file);
             var request = new this.XMLHttpRequest();
             request.onload = function onLoad(e) {
                 callback(e.currentTarget);
             };
             request.open('POST', '/api/stats', true);
             request.setRequestHeader('Authorization', 'bearer ' + token);
             request.send(formData);
         };
         
         ApiService.prototype.updateExclusion = function updateExclusion(callback) {
             var token = sessionStorage.getItem("token");
             var request = new this.XMLHttpRequest();
             request.onload = function onLoad(e) {
                 callback(e.currentTarget);
             };
             request.open('PUT', '/api/exclusions', true);
             request.setRequestHeader("Content-type", "application/json");
             request.setRequestHeader('Authorization', 'bearer ' + token);
             request.send();
         };
         
         var StatView = function StatView(element) {
             this.element = element;
             this.onClickSearch = null;
             this.onClickLogout = null;
             this.onClickUpload = null;
             this.onClickExclusion = null;
             this.dateElement = null;
         };
         
         StatView.prototype.render = function render(viewModel) {
         
             var loggedInUser = getCurrentUserSessionStorage();
             var searchComponent = '<div class="input-group search"><input id="date" type="date" class="form-control" ><div class="input-group-btn"><button id="search" class="btn btn-default btn-search" type="button">Search</div></div>';      
             var upperLimit = viewModel.length < 6 ? viewModel.length : 5;
             var stats = '<ul class="list-group">';
             for (var i = 0; i < upperLimit; i++) {
                 var obj = viewModel[i];
                 stats += '<li class="list-group-item">';
                 stats += '<span class="badge">' + parseInt(i + 1) + '</span>';
                 stats += '<p>Date: ' + obj.date + '</p>';
                 stats += '<p>Website: ' + obj.website + '</p>';
                 stats += '<p>Visits: ' + obj.visits + '</p>';
                 stats += '</li>';
             }
             stats += '</ul>';
           
             this.element.innerHTML = 'User: ' + loggedInUser + ' <a id="logout" class="btn-logout" href="javascript:void(0);">Logout</a></p>'+
                                     '<button id="exclusion" class="btn btn-default btn-exclusion">Update Exclusion</button>'+
                                     '<label class="btn btn-default">Upload Stat<input type="file" id="file" hidden></label>' +
                                     '<div class="container-fluid"><div class="wrapper-stat">' +
                                         searchComponent +
                                         stats + 
                                     '</div></div>';
         
             this.dateElement = this.element.querySelector('#date');
         
             var search = this.element.querySelector('#search');
             var logout = this.element.querySelector('#logout');
             var fileupload = this.element.querySelector('#file');
             var exclusion = this.element.querySelector('#exclusion');
             search.addEventListener('click', this.onClickSearch);   
             logout.addEventListener('click', this.onClickLogout);
             fileupload.addEventListener('change', this.onClickUpload);
             exclusion.addEventListener('click', this.onClickExclusion);
         };
         
         var LoginView = function LoginView(element) {
             this.element = element;
             this.onClickLogin = null;
             this.usernameElement = null;
         };
         
         LoginView.prototype.render = function render(viewModel) {
             this.element.innerHTML = '<div class="wrapper-login">' +
                 '<div class="form-signin"> '+
                 '<h2 class="form-signin-heading">Login</h2>' +
                 '<input id="username" type="text" name="username" placeholder="Username" class="form-control">'+
                 '<button id="login" class="btn-login btn btn-primary btn-block">Login</button>' +
                 '</div>' +
                 '</div>';
         
             this.usernameElement = this.element.querySelector('#username');
         
             var login = this.element.querySelector('#login');
             login.addEventListener('click', this.onClickLogin);
         };
         
         var Controller = function Controller(loginView, statView, api) {
             this.loginView = loginView;
             this.statView = statView;
             this.api = api;
         };
         
         Controller.prototype.initialize = function initialize() {
             this.loginView.onClickLogin = this.login.bind(this);
             this.statView.onClickLogout = this.logout.bind(this);
             this.statView.onClickSearch = this.search.bind(this);
             this.statView.onClickUpload = this.upload.bind(this);
             this.statView.onClickExclusion = this.exclusion.bind(this);
         };
         
         Controller.prototype.load = function load(e) {
             this.api.getStats(this.showStats.bind(this));
         };
         
         Controller.prototype.login = function login(e) {
             var username = this.loginView.usernameElement.value;
             this.api.login(username, this.onLogin.bind(this));
         };
         
         Controller.prototype.logout = function logout(e) {
             this.api.logout(this.onLogout.bind(this));
         };
         
         Controller.prototype.search = function search(e) {
             var date = this.statView.dateElement.value;
             this.api.getStatsByDate(date, this.showStats.bind(this));
         };
         
         Controller.prototype.upload = function upload(e) {
             console.log(e);
             this.api.upload(e.target.files[0], this.onUpload.bind(this));
         };
         
         Controller.prototype.exclusion = function exclusion(e) {
             this.api.updateExclusion(this.onExclusion.bind(this));
         };
         
         Controller.prototype.onLogin = function onLogin(response) {
             if (response.status == 200) {
                 var token = response.responseText;
                 console.log('Successfully logged in.');
                 var parsedToken = parseJwt(token);
         
                 if (typeof (Storage) !== "undefined") {
                     sessionStorage.setItem("token", token);
                 } else {
                     alert('Sorry, your browser does not support Web Storage. Cannot store JWT token.');
                 }
         
                 this.api.getStats(this.showStats.bind(this));
         
             } else {
                 console.log('Logged in failed.');
             }
         };
         
         Controller.prototype.onLogout = function onLogout(response) {
             this.api.getStats(this.showStats.bind(this));
         };
         
         Controller.prototype.showStats = function showStats(response) {
             if (response.status == 200) {
                 var stats = JSON.parse(response.responseText);
                 console.log(stats);
                 this.statView.render(stats);
             } else {
                 this.loginView.render({});
             }
         };
         
         Controller.prototype.onExclusion = function onExclusion(response) {
             if (response.status == 200) {
                 var exclusions = JSON.parse(response.responseText);
                 alert(response.responseText);
             }
         };
         
         Controller.prototype.onUpload = function onUpload(response) {
             if (response.status == 200) {
                 alert('Upload successful');
             }
         };       
         
         var targetElement = document.getElementById('app');
         var loginView = new LoginView(targetElement);
         var statView = new StatView(targetElement);
         var api = new ApiService(XMLHttpRequest);
         var controller = new Controller(loginView, statView, api);
         controller.initialize();
         controller.load();
         
         
         function parseJwt(token) {
             var base64Url = token.split('.')[1];
             var base64 = base64Url.replace('-', '+').replace('_', '/');
             return JSON.parse(window.atob(base64));
         };
         
         function getCurrentUserSessionStorage() {
             var token = sessionStorage.getItem("token");
             var user = parseJwt(token)
             return user['http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name'];
         };
      </script>
   </body>
</html>